<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.camerafilter">

    <uses-permission android:name="android.permission.CAMERA" /> <!-- доступ к камере -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- доступ к сохранениям на внешние хранилища -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- android:largeHeap="true" для увеличения памяти -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".CameraActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FilterActivity">
        </activity>
    </application>

</manifest>